# Programming with time

One topic that we haven't covered yet is how to handle information that has dates. There is a ton of information on the web and in our own research that relies on a point in time to contextualize it. 

One of the first thoughts is that we can write our own code to handle this pretty easily.

That thought is, unfortunately, very wrong. Dates are a lot like the standard measurement system - an unholy mess. Some months have 30 days, others have 31, and February has 28 (except for leap years, then 29). Keeping track of all of this information just to see how much time lapsed is really annoying (and a waste of time to write all the code!).

Fortunately, Python has a library called `datetime` that takes care of most of these problems for us. The only downside is that it's just a little bit confusing!

In [2]:
import datetime

# Datetime is a library but also more.

The `datetime` library has **five** top-level objects within it. 

The first one is called a `date` object and it handles dates. We can get today's date by calling `today()`.

In [5]:
datetime.date.today()

datetime.date(2015, 8, 25)

In [6]:
today = datetime.date.today()
type(today)

datetime.date

The great thing about a datetime object is that we can access the attributes of the date like we would think about.

In [7]:
print('The year is: %d' % today.year)
print('The month is: %d' % today.month)
print('The day is: %d' % today.day)

The year is: 2015
The month is: 8
The day is: 25

But you can tell that there is one part missing, it's the time!

To access time we can't use the `date` class and instead use the `time` class.

In [12]:
datetime.time(20, 30, 50)

datetime.time(20, 30, 50)

In [14]:
time = datetime.time(20, 30, 50)

print('Hours are: %d' % time.hour)
print('Minutes are: %d' % time.minute)
print('Seconds are: %d' % time.second)

Hours are: 20
Minutes are: 30
Seconds are: 50

So we can see that the way we start a time object starts at **hours** (since that is the first type of time we have smaller than a day) and proceeds on there. We can keep adding arguments into the `time()` function all the way to microseconds.

# But a real date has both a date and time!

I admit it, you're right. That's why `datetime` has another object that stores both a date and time.

It's called `datetime()`. 

Yup.

That's right.

The `datetime` package has a `datetime` object.

In [15]:
datetime.datetime.today()

datetime.datetime(2015, 8, 25, 18, 53, 54, 406454)

And all of the same methods apply to get the parts of the date

In [16]:
dt_today = datetime.datetime.today() 

print('The year is: %d' % dt_today.year)
print('The hour is: %d' % dt_today.hour)

The year is: 2015
The hour is: 18

With a `datetime()` object we can also get just a `date()` or `time()` object too.

In [17]:
dt_today.date()

datetime.date(2015, 8, 25)

In [18]:
dt_today.time()

datetime.time(18, 59, 45, 476722)

The fourth object is not another container for raw time (crazy I know!), but it's actually what happens when we subtract two datetime objects - a `timedelta()`. Remember that $\delta$ is the difference in math (thus the 'delta' part attached to the time.

A `timedelta()` object holds the difference between two `datetime` or `date` objects

In [35]:
datetime.datetime.today() - dt_today

datetime.timedelta(0, 1039, 859894)

In [36]:
datetime.date.today() - today

datetime.timedelta(0)

Datetime objects also let us easily perform operations to determine order in time.

In [37]:
dt_today < datetime.datetime.today()

True

In [39]:
sorted([dt_today, datetime.datetime.today(), dt_today])

[datetime.datetime(2015, 8, 25, 18, 59, 45, 476722),
 datetime.datetime(2015, 8, 25, 18, 59, 45, 476722),
 datetime.datetime(2015, 8, 25, 19, 19, 5, 805481)]

#Manipulating datetime objects

If you need to manipulate a date, datetime, or time object (like change the day from the 16th to the 1st in order to get a bit more summer) you can use the `replace()` function to change any of the attributes.

In [23]:
dt_today.replace(day = 1)

datetime.datetime(2015, 8, 1, 18, 59, 45, 476722)

In [26]:
today.replace(day = 1)

datetime.date(2015, 8, 1)

In [27]:
time.replace(hour = 10)

datetime.time(10, 30, 50)

However, this isn't always the easiest way to manipulate a datetime object. How do we add a week if the date falls near the end of the month?

We'd have to change both the month and the day, accounting for the length of the month! That's not easy at all. To do that we actually need to use a different library to do that.

In [42]:
from dateutil import relativedelta

dt_today + relativedelta.relativedelta(weeks=1)

datetime.datetime(2015, 9, 1, 18, 59, 45, 476722)

Yes, the relativedelta package follows the same insane naming structure that datetime uses. But it works!

# But that's really only half the battle

Now we've gone over the basics of the package, but that isn't our data! We're going to need to read in data and somehow manipulate it into real datetime objects so that we can work with it.

As an example, let's play stockbrokers and examine the apple stock closing prices since 1980.

In [44]:
#I'm going to read in the Apple stock prices real quick
aapl_stock = [l.strip().split(',') for l in open('../Data/aapl_stock_price.csv')]

#Now let's take a look at what we're dealing with
for line in aapl_stock[:2]:
    print( line )

['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Adjusted Close']
['2015-08-24', '94.870003', '103.449997', '92.0', '103.120003', '161454200.0', '103.120003']

But now how are we going to convert this date as a string into a real date?

The `datetime()`, `date()`, and `time()` objects all support a method - called `strptime()` - that allows you to convert a string into a datetime object.

The `strptime()` function takes two arguments, the string that we are trying to convert and a string saying explicitly what the format is. I'll give a quick example first.

In [47]:
datetime.datetime.strptime('2008-12-01', '%Y-%m-%d')

datetime.datetime(2008, 12, 1, 0, 0)

There! We've converted a date that is a string into a datetime object! But what were those weird symbols I gave as the format string? There's actually a large number of them and you just have to match them (and the other punctuation) to your date string.

<img src='../images/strftime_maps.png'></img>

The `strptime()` is a bit hard to remember, but it's easier when you know about it's partner and opposite - `strftime()`.  The `strftime()` function lets you create a **string from time** object. Easier to remember huh ;)

It works very similar, it'll need a datetime object and the format string that we want it to create.

In [50]:
datetime.datetime.strftime(datetime.date.today(), '%Y-%d')

'2015-25'

# Now those are the basics of dates in Python

When dealing with real data, dates are always present. This is how you can handle this information and use it.

So let's go be stockbrokers!

In [58]:
import pandas as pd

df = pd.read_csv('../Data/aapl_stock_price.csv')

df.head()

,Date,Open,High,Low,Close,Volume,Adjusted Close
0,2015-08-24,94.870003,103.449997,92.000000,103.120003,161454200,103.120003
1,2015-08-21,110.430000,111.900002,105.650002,105.760002,126289200,105.760002
2,2015-08-20,114.080002,114.349998,111.629997,112.650002,67765500,112.650002
3,2015-08-19,116.099998,116.519997,114.680000,115.010002,47445700,115.010002
4,2015-08-18,116.430000,117.440002,116.010002,116.500000,34461400,116.500000

So now let's change the

In [1]:
from IPython.core.display import HTML
from IPython.lib.display import YouTubeVideo


def css_styling():
    styles = open("../styles/custom.css", "r").read()
    return HTML(styles)
css_styling()