Today we've covered the `Pandas`, `Statsmodels`, and `Datetime` packages and that amounts to a lot of new information!

I'm going to go over the basic parts of these libraries, but first I just want to test what you remember from the datetime library.

I want you to convert the date `2013-09-12` to a datetime `datetime` variable.

In [1]:
date_string = '2013-09-12'

def transform_string_to_date(date_string):
    '''
    Converts a date from a string type to a datetime.date type
    input:
        date_string - str, represents a date as 'YYYY-MM-DD'
    output:
        date - datetime.datetime object 
    '''
    #Your code here
    
    return date

In [2]:
#Use this cell to test your function
transform_string_to_date(date_string)

Now I want you to write a function that will change the date_string from '2013-09-12' and return a `date` type variable that is August 8, 2013.

In [3]:
def replace_month_and_year(date_string):
    '''
    Converts a date from a string type to a datetime.date type 
    and replaces the month with August (8) and the day with the
    eighth (8)
    input:
        date_string - str, represents a date as 'YYYY-MM-DD'
    output:
        date - datetime.datetime object
    '''
    #Your code here
    
    return date

In [1]:
#Use this cell to test your function
replace_month_and_year(date_string)

Now let's move on and work with the AAPL stock data again (Located in the Data/ folder). How much would I have made if I purchased 10 shares of AAPL stock at the Opening price on September 1st, 2000 and sold it at the closing price on March 7, 2008?

In [10]:
import os

def calculate_eight_year_gain(fname = os.path.join('..', 'Data', 'aapl_stock_price.csv')):
    '''
    Calculates the stock gain from 9-1-2000 Open price to 3-7-2008 close price for
    10 shares of stock
    input:
        fname - str, aapl stock price filename
    output:
        gain - float, monetary gain during period
    '''
    #Your code here
    
    return gain

In [12]:
#Test your answer here
calculate_eight_year_gain()

How many days was AAPL stock traded on between June 6, 1988 and December 7, 1999. This is inclusive, so count both June 6, 1988 and December 7, 1999 if those days had trading activity.

In [13]:
def count_number_of_trading_days(start='1988-06-06', stop='1999-12-07'):
    '''
    Counts the number of trading days between 1988-06-06 and 1999-12-07 (inclusive)
    input:
        start - str, start date in string format
        stop - str, stop date in string format
    output:
        trading_days - int, number of trading days during the time period
    '''
    fname = os.path.join('..', 'Data', 'aapl_stock_price.csv')
    #Your code here
    
    return trading_days

In [ ]:
#Test your answer here
count_number_of_trading_days()

Last question using the AAPL stock, during the same period of June 6, 1988 to December 7, 1999 how many days did the stock close above its opening price? (Hint: think about making a calculation and storing it as an additional column. Then examine that column for the answer).

In [ ]:
def number_of_days_positive_gain(start='1988-06-06', stop='1999-12-07'):
    '''
    Counts the number of trading days between the start and stop date (inclusive)
    where the close price is greater than the open price.
    input:
        start - str, start date in string format
        stop - str, stop date in string format
    output:
        positive_days - int, number of trading days during the time period
                             where a positive gain was made
    '''
    fname = os.path.join('..', 'Data', 'aapl_stock_price.csv')
    #Your code here
    
    return positive_days

In [ ]:
#Test your answer here
number_of_days_positive_gain()

In [5]:
import pandas as pd
df = pd.read_csv('../Data/aapl_stock_price.csv')
df.head()

,Date,Open,High,Low,Close,Volume,Adjusted Close
0,2015-08-24,94.870003,103.449997,92.000000,103.120003,161454200,103.120003
1,2015-08-21,110.430000,111.900002,105.650002,105.760002,126289200,105.760002
2,2015-08-20,114.080002,114.349998,111.629997,112.650002,67765500,112.650002
3,2015-08-19,116.099998,116.519997,114.680000,115.010002,47445700,115.010002
4,2015-08-18,116.430000,117.440002,116.010002,116.500000,34461400,116.500000

In [9]:
df[df.Date=='2008-03-07']

,Date,Open,High,Low,Close,Volume,Adjusted Close
1879,2008-03-07,120.410006,122.979984,119.049974,122.250034,307615700,16.330862